@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  @include gradient;

  svg {
    margin-right: 0.5rem;
  }

  li {
    padding: 0 0.7rem;

    a {
      color: white !important;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
}
